# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Variables de entorno
.env
.env.*

# VS Code
.vscode/

# Tests y herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
